---
import type { PilotClass } from '../../types/pilot';
import Icon from '../../components/Icon.astro';
import LocalizedText from '../../components/LocalizedText.astro';
import ObjectPageScripts from '../../components/ObjectPageScripts.astro';
import ParseObjectPage from '../../components/ParseObjectPage.astro';
import {
  getParseObject,
  generateObjectListStaticPaths,
} from '../../utils/parse_object';
import { getDefaultString } from '../../utils/localization';
import { generatePilotClassLocalizedMetaDescriptions } from '../../utils/build_localization';
import PilotClassesNavBox from '../../components/nav/PilotClassesNavBox.astro';

export async function getStaticPaths() {
  return generateObjectListStaticPaths('PilotClass');
}

const { id } = Astro.params;

const pilotClass = getParseObject<PilotClass>(id, 'Objects/PilotClass.json');

// Extract English text as fallback
const defaultName = getDefaultString(pilotClass.name) || pilotClass.id;

// Generate localized meta descriptions
const localizedDescriptions = generatePilotClassLocalizedMetaDescriptions(
  pilotClass,
  defaultName
);

---

<ParseObjectPage
  localizedDescriptions={localizedDescriptions}
  headerImage="/images/T_RobotClassesDefenderBig.png"
  type="article"
>
  <LocalizedText
    id="pilot-class-name-title"
    tag="title"
    localizationKey={pilotClass.name}
    slot="head"
  />
  <p>
    Back to <a href="/pilot_classes">Pilot Classes</a>
  </p>
  <LocalizedText
    id="pilot-class-name"
    tag="h1"
    localizationKey={pilotClass.name}
  />

  <Icon
    iconPath={pilotClass.badge.image_path}
    altText={`${defaultName} icon`}
    color={pilotClass.badge.hex}
  />

  <p>Language: <span id="current-lang">en</span></p>

  <PilotClassesNavBox />

  <ObjectPageScripts objectData={pilotClass} />
</ParseObjectPage>
