---
import type { PilotPersonality } from '../../types/pilot';
import Icon from '../../components/Icon.astro';
import LocalizedText from '../../components/LocalizedText.astro';
import ObjectPageScripts from '../../components/ObjectPageScripts.astro';
import ParseObjectPage from '../../components/ParseObjectPage.astro';
import {
  getParseObject,
  generateObjectListStaticPaths,
} from '../../utils/parse_object';
import { getDefaultString } from '../../utils/localization';
import { generateSimpleLocalizedMetaDescriptions } from '../../utils/build_localization';
import PilotPersonalitiesNavBox from '../../components/nav/PilotPersonalitiesNavBox.astro';

export async function getStaticPaths() {
  return generateObjectListStaticPaths('PilotPersonality');
}

const { id } = Astro.params;

const pilotPersonality = getParseObject<PilotPersonality>(
  id,
  'Objects/PilotPersonality.json'
);

// Extract English text as fallback
const defaultName =
  getDefaultString(pilotPersonality.name) || pilotPersonality.id;

// Generate localized meta descriptions
const localizedDescriptions = generateSimpleLocalizedMetaDescriptions(
  { Key: 'PilotPersonality_Meta_Description', TableNamespace: 'Web_UI' },
  { name: pilotPersonality.name },
  defaultName
);

---

<ParseObjectPage
  localizedDescriptions={localizedDescriptions}
  headerImage="/images/T_Trait_Madman.png"
  type="article"
>
  <LocalizedText
    id="pilot-personality-name-title"
    tag="title"
    localizationKey={pilotPersonality.name}
    slot="head"
  />
  <p>
    Back to <a href="/pilot_personalities">Pilot Personalities</a>
  </p>
  <LocalizedText
    id="pilot-personality-name"
    tag="h1"
    localizationKey={pilotPersonality.name}
  />

  <Icon iconPath={pilotPersonality.icon_path} altText={`${defaultName} icon`} />

  <p>Language: <span id="current-lang">en</span></p>

  <PilotPersonalitiesNavBox />

  <ObjectPageScripts objectData={pilotPersonality} />
</ParseObjectPage>
