---
import type { Module, ModuleRarity } from '../../../types/module';
import type { Rarity } from '../../../types/rarity';
import Icon from '../../../components/Icon.astro';
import LocalizedText from '../../../components/LocalizedText.astro';
import VersionList from '../../../components/VersionList.astro';
import ObjectPageScripts from '../../../components/ObjectPageScripts.astro';
import ParseObjectPage from '../../../components/ParseObjectPage.astro';
import {
  generateObjectStaticPaths,
  getParseObject,
  getVersionsData,
} from '../../../utils/parse_object';
import { getDefaultString } from '../../../utils/localization';
import PageRef from '../../../components/PageRef.astro';

export async function getStaticPaths() {
  return await generateObjectStaticPaths('Objects/Module.json', true);
}

const { id, version } = Astro.params;
const { objectVersions } = Astro.props;

const module = getParseObject<Module>(id, version, 'Objects/Module.json');
const moduleRarity = getParseObject<ModuleRarity>(
  module.module_rarity_id,
  version,
  'Objects/ModuleRarity.json'
);
const rarity = getParseObject<Rarity>(
  moduleRarity.rarity_id,
  version,
  'Objects/Rarity.json'
);

if (!module.name) {
  throw new Error(`Module with id ${id} is missing name. 
  This is expected only for non production ready modules.`);
}

// Load version metadata
const { versions, versionInfo } = getVersionsData(version);

// Extract English text as fallback
const defaultName = getDefaultString(module.name) || module.id;
---

<ParseObjectPage>
  <LocalizedText
    id="module-name-title"
    tag="title"
    localizationKey={module.name}
    slot="head"
  />
  <p>Back to <a href="/WRFrontiersDB-Site/modules">Modules</a></p>
  <LocalizedText id="module-name" tag="h1" localizationKey={module.name} />

  <Icon iconPath={module.inventory_icon_path} altText={`${defaultName} icon`} />

  {
    module.description && (
      <LocalizedText
        id="module-desc"
        tag="p"
        localizationKey={module.description}
      />
    )
  }
  <p>Version: {versionInfo?.title || version} ({version})</p>
  <p>Language: <span id="current-lang">en</span></p>
  <p>Rarity: 
    <PageRef
      obj={rarity}
      version={version}
    />
  </p>

  <div id="stats">stats</div>

  <VersionList
    parseObjectUrl="modules"
    id={id}
    myVersions={objectVersions}
    versionsData={versions}
  />

  <ObjectPageScripts
    version={version}
    objectData={module}
    jsFileName="module_page.js"
  />
</ParseObjectPage>
