---
import fs from 'fs';
import path from 'path';
import type { Module } from '../../../types/module';
import Icon from '../../../components/Icon.astro';
import LocalizedText from '../../../components/LocalizedText.astro';
import VersionList from '../../../components/VersionList.astro';
import ObjectPageScripts from '../../../components/ObjectPageScripts.astro';
import { generateObjectStaticPaths, getParseObject, getVersionsData } from '../../../utils/parse_object';

export async function getStaticPaths() {
  return await generateObjectStaticPaths("Objects/Module.json", true);
}

const { id, version } = Astro.params;
const { moduleVersions } = Astro.props;

const module = getParseObject<Module>(id, version, "Objects/Module.json");

// Load version metadata
const { versions, versionInfo } = getVersionsData(version);

// Extract English text as fallback
const defaultName = module.name?.en || module.id;

---

<html>
  <head>
    <title>{module.id} - {version}</title>
  </head>
  <body>
    <p>Back to <a href="/WRFrontiersDB-Site/modules">Modules</a></p>
    <LocalizedText 
      id="module-name"
      tag="h1"
      localizationKey={module.name}
    />

    <Icon 
      iconPath={module.inventory_icon_path}
      altText={`${defaultName} icon`}
    />

    <LocalizedText 
      id="module-desc"
      tag="p"
      localizationKey={module.description}
    />
    <p>Version: {versionInfo?.title || version} ({version})</p>
    <p>Language: <span id="current-lang">en</span></p>

    <div id="stats">stats</div>
    
    <VersionList 
      parseObjectClass="modules"
      id={id}
      myVersions={moduleVersions}
      versionsData={versions}
    />
    
    <ObjectPageScripts 
      version={version}
      objectData={module}
      jsFileName="module_page.js"
    />
  </body>
</html>
