---
import ObjRef from '../obj_ref/ObjRef.astro';
import LevelPilotTalenttd from './LevelPilotTalenttd.astro';
import LevelPilotTalentTypetd from './LevelPilotTalentTypetd.astro';
import type { Pilot, PilotTalent, PilotTalentType } from '../../types/pilot';

interface Props {
  id: string;
  pilots: [string, Pilot][];
  pilotTalents?: Record<string, PilotTalent>;
  pilotTalentTypes?: Record<string, PilotTalentType>;
  version: string;
  fullOrOnHover?: 'full' | 'onHover' | undefined;
}

// if pilotTalents is provided, use LevelPilotTalenttd
// if pilotTalentTypes is provided, use LevelPilotTalentTypetd
// otherwise, throw error

const { id, pilots, pilotTalents, pilotTalentTypes, version, fullOrOnHover } = Astro.props;

// Validate that at least one of the required props is provided
if (!pilotTalents && !pilotTalentTypes) {
  throw new Error('Either pilotTalents or pilotTalentTypes must be provided');
}
if (pilotTalents && pilotTalentTypes) {
  throw new Error(
    'Only one of pilotTalents or pilotTalentTypes can be provided'
  );
}
---

<table id={id}>
  <thead>
    <tr>
      <th>Pilot Name</th>
      <th>Level 1</th>
      <th>Level 2</th>
      <th>Level 3</th>
      <th>Level 4</th>
      <th>Level 5</th>
    </tr>
  </thead>
  <tbody>
    {
      pilots.map(([_id, pilot]) => {
        // Calculate max talents across all levels for this pilot
        const maxTalents = Math.max(
          ...pilot.levels.map((level) => level?.talents?.length || 0)
        );

        return Array.from({ length: Math.max(1, maxTalents) }).map(
          (_, talentIndex) => (
            <tr>
              {/* Pilot Name */}
              {talentIndex === 0 && (
                <>
                  <td rowspan={maxTalents}>
                    <ObjRef obj={pilot} version={version} iconSize={48} />
                  </td>
                </>
              )}
              {/* Levels 1-5 */}
              {[0, 1, 2, 3, 4].map((levelIndex) => (
                <>
                  {pilotTalents ? (
                    <LevelPilotTalenttd
                      levelIndex={levelIndex}
                      level={pilot.levels[levelIndex]}
                      talentIndex={talentIndex}
                      maxTalents={maxTalents}
                      pilotTalents={pilotTalents}
                      version={version}
                      fullOrOnHover={fullOrOnHover}
                    />
                  ) : (
                    <LevelPilotTalentTypetd
                      level={pilot.levels[levelIndex]}
                      talentIndex={talentIndex}
                      maxTalents={maxTalents}
                      pilotTalentTypes={pilotTalentTypes}
                      version={version}
                    />
                  )}
                </>
              ))}
            </tr>
          )
        );
      })
    }
  </tbody>
</table>
