---
import ObjRef from '../obj_ref/ObjRef.astro';
import LevelPilotTalentTypetd from './LevelPilotTalentTypetd.astro';
import type { Pilot, PilotTalentType } from '../../types/pilot';

interface Props {
  pilot: Pilot;
  maxTalents: number;
  pilotTalentTypes: Record<string, PilotTalentType>;
}

const { pilot, maxTalents, pilotTalentTypes } = Astro.props;
---

{
  Array.from({ length: Math.max(1, maxTalents) }).map((_, talentIndex) => (
    <tr>
      {/* Pilot Name */}
      {talentIndex === 0 && (
        <>
          <td rowspan={maxTalents}>
            <ObjRef obj={pilot} iconSize={48} />
          </td>
        </>
      )}
      {/* Levels 1-5 */}
      {[0, 1, 2, 3, 4].map((levelIndex) => (
        <LevelPilotTalentTypetd
          level={pilot.levels[levelIndex]}
          talentIndex={talentIndex}
          maxTalents={maxTalents}
          pilotTalentTypes={pilotTalentTypes}
        />
      ))}
    </tr>
  ))
}
