---
import Breadcrumb from '../../components/Breadcrumb.astro';
import ParseObjectPage from '../../components/ParseObjectPage.astro';
import LocalizedText from '../../components/LocalizedText.astro';
import BotItem from '../../components/bot/BotItem.astro';
import ObjectPageScripts from '../../components/ObjectPageScripts.astro';
import {
  getParseObject,
  getParseObjects,
  generateSlugBasedStaticPaths,
} from '../../utils/parse_object';
import { getCharacterPresetDetailBreadcrumbs } from '../../utils/breadcrumb';
import { getDefaultString } from '../../utils/localization';
import { getObjRefData } from '../../utils/obj_ref';
import { generateCharacterPresetLocalizedMetaDescriptions } from '../../utils/build_localization';
import TextElements from '../../components/obj_ref/TextElements.astro';
import type { CharacterPreset } from '../../types/character_preset';

export async function getStaticPaths() {
  return generateSlugBasedStaticPaths('CharacterPreset');
}

const { slug: _slug } = Astro.params;
const { id } = Astro.props;

const preset = getParseObject(
  id,
  'Objects/CharacterPreset.json'
) as CharacterPreset;
const pilots = getParseObjects('Objects/Pilot.json');
const modules = getParseObjects('Objects/Module.json');

const objRefData = preset ? getObjRefData(preset) : null;

const localizedDescriptions = preset
  ? generateCharacterPresetLocalizedMetaDescriptions(
      preset,
      getDefaultString(preset.name) || preset.id
    )
  : [];
---

<ParseObjectPage
  localizedDescriptions={localizedDescriptions}
  headerImage="/images/T_UnLockPilots.png"
  type="article"
>
  {
    preset && (
      <LocalizedText
        id="character-preset-name-title"
        tag="title"
        localizationKey={preset.name}
        slot="head"
      />
    )
  }

  <Breadcrumb breadcrumbs={getCharacterPresetDetailBreadcrumbs(preset)} />

  {
    preset ? (
      <div class="character-preset-detail">
        <h1>
          <TextElements
            textElements={
              Array.isArray(objRefData!.text)
                ? (objRefData!.text as any)
                : [objRefData!.text as any]
            }
          />
        </h1>

        <BotItem preset={preset} modules={modules} pilots={pilots} />
      </div>
    ) : (
      <div class="character-preset-not-found">
        <h1>Character Preset Not Found</h1>
        <p>The character preset with ID {id} was not found.</p>
      </div>
    )
  }

  <ObjectPageScripts objectData={preset} jsFileName="character_preset.js" slug={_slug} />
</ParseObjectPage>
