---
import Icon from './Icon.astro';
import LocalizedText from './LocalizedText.astro';
import type { ObjRefData } from '../utils/obj_ref';
import { getDefaultString } from '../utils/localization';

interface Props {
  objRefData: ObjRefData;
  showIcon: boolean;
  iconSize: number;
}

const { objRefData, showIcon, iconSize } = Astro.props;
---

<!-- Show icon if supported and enabled -->{
  showIcon && objRefData.iconPath && (
    <Icon
      iconPath={objRefData.iconPath}
      altText={`${getDefaultString(objRefData.text)} icon`}
      size={iconSize}
      color={objRefData.iconColor}
    />
  )
}
<!-- Show text with colored div if iconPath not supported, otherwise show just text -->
{
  objRefData.textBackgroundColor ? (
    <div
      style={`display: inline-block; padding: 2px 8px; background-color: #${objRefData.textBackgroundColor}; border-radius: 4px;`}
    >
      <LocalizedText tag="span" localizationKey={objRefData.text} />
    </div>
  ) : (
    <LocalizedText tag="span" localizationKey={objRefData.text} />
  )
}
