---
import ObjRefContent from './ObjRefContent.astro';
import ObjRefHover from './ObjRefHover.astro';
import { getObjRefData } from '../utils/obj_ref';
import type { ParseObject } from '../types/parse_object';
import type { StatValueChoices } from './StatEmbedLocalizedText.astro';
import '../styles/ObjRef.css';

interface Props {
  obj: ParseObject;
  version: string;
  iconSize?: number;
  showIcon?: boolean;
  useOnHover?: boolean;
  onHoverStatChoices?: StatValueChoices;
}

const {
  obj,
  version,
  iconSize = 24,
  showIcon = true,
  useOnHover = false,
  onHoverStatChoices,
} = Astro.props;

// Get the page reference data (localization key, icon path, hex color)
const pageData = getObjRefData(obj);

// If useHref is not specified, default to True if object has a href
const useHref = pageData.useHref ?? true;

const pageUrl = `/${obj.parseObjectUrl}/${obj.id}/${version}`;

if (useOnHover && !pageData.description) {
  throw new Error(
    'useOnHover is enabled but no description is available for this object.'
  );
}
---

<span class="page-ref-wrapper">
  {
    useHref ? (
      <a href={pageUrl}>
        <ObjRefContent
          pageData={pageData}
          showIcon={showIcon}
          iconSize={iconSize}
        />
      </a>
    ) : (
      <span>
        <ObjRefContent
          pageData={pageData}
          showIcon={showIcon}
          iconSize={iconSize}
        />
      </span>
    )
  }
  <ObjRefHover
    pageData={pageData}
    useOnHover={useOnHover}
    onHoverStatChoices={onHoverStatChoices}
  />
</span>
