---
import { getParseObjects } from '../utils/parse_object';

export interface Props {
  parseObjectClass: string;
  parseObjectUrl: string;
  version: string;
  baseUrl?: string;
  prodReadyOnly?: boolean;
}

const { parseObjectClass, parseObjectUrl, version, baseUrl = "/WRFrontiersDB-Site", prodReadyOnly = false } = Astro.props;

const objects = getParseObjects(parseObjectClass, version);
let entries = Object.entries(objects);

if (prodReadyOnly) {
  entries = entries.filter(([_, obj]) => obj.production_status === 'Ready');
}

const items = entries.map(([id, _]) => ({
  id,
  url: `${baseUrl}/${parseObjectUrl}/${id}/${version}`
}));
---

<ul>
  {items.map(({ id, url }) => (
    <li><a href={url}>{id}</a></li>
  ))}
</ul>
