---
import type { Module, ModuleRarity } from '../../types/module';
import type { Rarity } from '../../types/rarity';
import Icon from '../../components/Icon.astro';
import LocalizedText from '../../components/LocalizedText.astro';
import ObjectPageScripts from '../../components/ObjectPageScripts.astro';
import ParseObjectPage from '../../components/ParseObjectPage.astro';
import {
  getParseObject,
  getParseObjects,
  generateObjectListStaticPaths,
} from '../../utils/parse_object';
import { getDefaultString } from '../../utils/localization';
import { generateSimpleLocalizedMetaDescriptions } from '../../utils/build_localization';
import { resolveObjectRef } from '../../utils/object_resolver';
import ObjRef from '../../components/obj_ref/ObjRef.astro';

export async function getStaticPaths() {
  return generateObjectListStaticPaths('Module', true);
}

const { id } = Astro.params;

const module = getParseObject<Module>(id, 'Objects/Module.json');
const allModuleRarities = getParseObjects<ModuleRarity>(
  'Objects/ModuleRarity.json'
);
const moduleRarity = resolveObjectRef(
  module.module_rarity_ref,
  allModuleRarities
);
const allRarities = getParseObjects<Rarity>('Objects/Rarity.json');
const rarity = moduleRarity
  ? resolveObjectRef(moduleRarity.rarity_ref, allRarities)
  : undefined;

if (!module.name) {
  throw new Error(`Module with id ${id} is missing name. 
  This is expected only for non production ready modules.`);
}

// Extract English text as fallback
const defaultName = getDefaultString(module.name) || module.id;

// Generate localized meta descriptions
const localizedDescriptions = generateSimpleLocalizedMetaDescriptions(
  { Key: 'Module_Meta_Description', TableNamespace: 'Web_UI' },
  { name: module.name! },
  defaultName
);

---

<ParseObjectPage
  localizedDescriptions={localizedDescriptions}
  headerImage={module.image_path as string}
  type="article"
>
  <LocalizedText
    id="module-name-title"
    tag="title"
    localizationKey={module.name}
    slot="head"
  />
  <p>Back to <a href="/modules">Modules</a></p>
  <LocalizedText id="module-name" tag="h1" localizationKey={module.name} />

  <Icon iconPath={module.inventory_icon_path} altText={`${defaultName} icon`} />

  {
    module.description && (
      <LocalizedText
        id="module-desc"
        tag="p"
        localizationKey={module.description}
      />
    )
  }
  <p>Language: <span id="current-lang">en</span></p>
  <p>
    Rarity:
    {rarity ? <ObjRef obj={rarity} useHref={false} /> : 'Unknown'}
  </p>

  <div id="stats">stats</div>

  <ObjectPageScripts objectData={module} jsFileName="module_page.js" />
</ParseObjectPage>
