---
import Icon from '../../components/Icon.astro';
import LocalizedText from '../../components/LocalizedText.astro';
import type { ObjRefData } from '../../utils/obj_ref';
import { getDefaultString } from '../../utils/localization';

interface Props {
  objRefData: ObjRefData;
  showIcon: boolean;
  iconSize: number;
}

const { objRefData, showIcon, iconSize } = Astro.props;
---

{showIcon && objRefData.iconPath && (
  <Icon
    iconPath={objRefData.iconPath}
    altText={`${getDefaultString(objRefData.text)} icon`}
    size={iconSize}
    color={objRefData.iconColor}
  />
)}
{!objRefData.iconPath && objRefData.iconColor ? (
  <div
    style={`display: inline-block; padding: 2px 8px; background-color: #${objRefData.iconColor}; border-radius: 4px;`}
  >
    <LocalizedText
      tag="span"
      localizationKey={objRefData.text}
    />
  </div>
) : (
  <LocalizedText tag="span" localizationKey={objRefData.text} />
)}
