---
import Breadcrumb from '../../components/Breadcrumb.astro';
import ParseObjectPage from '../../components/ParseObjectPage.astro';
import LocalizedText from '../../components/LocalizedText.astro';
import ObjectPageScripts from '../../components/ObjectPageScripts.astro';
import ObjRef from '../../components/obj_ref/ObjRef.astro';
import { getParseObjects } from '../../utils/parse_object';
import { getAllVirtualBots, getVirtualBotById } from '../../utils/bot_modules';
import type { CharacterPreset } from '../../types/character_preset';
import type { Module } from '../../types/module';
import { getDefaultString } from '../../utils/localization';
import { generateRobotLocalizedMetaDescriptions } from '../../utils/build_localization';
import { refToId } from '../../utils/object_reference';

export async function getStaticPaths() {
  const virtualBotsMap = getAllVirtualBots();

  return Object.keys(virtualBotsMap).map((id) => ({
    params: { id },
  }));
}

const { id } = Astro.params;
const bot = getVirtualBotById(id as string);

if (!bot) {
  throw new Error(`Bot with id ${id} not found.`);
}

const presets = getParseObjects<CharacterPreset>(
  'Objects/CharacterPreset.json'
);
const modules = getParseObjects<Module>('Objects/Module.json');

export function getRobotDetailBreadcrumbs(botName: string) {
  return [
    { label: 'Home', href: '/', isCurrent: false },
    { label: 'Robots', href: '/robots', isCurrent: false },
    { label: botName, isCurrent: true },
  ];
}

const localizedDescriptions = generateRobotLocalizedMetaDescriptions(
  bot,
  getDefaultString(bot.name) || bot.id
);
---

<ParseObjectPage
  localizedDescriptions={localizedDescriptions}
  headerImage="/images/T_UnLockPilots.png"
  type="article"
>
  <LocalizedText
    id="robot-name-title"
    tag="title"
    localizationKey={bot.name}
    slot="head"
  />

  <Breadcrumb
    breadcrumbs={getRobotDetailBreadcrumbs(
      getDefaultString(bot.name) || bot.id
    )}
  />

  <LocalizedText id="robot-name" tag="h1" localizationKey={bot.name} />
  <p><strong>Type:</strong> {bot.character_type}</p>

  <section style="margin-top: 2rem;">
    <h2>Core Modules</h2>
    <div style="display: flex; gap: 1rem; flex-wrap: wrap;">
      {
        bot.core_module_refs.map((mRef) => {
          const module = modules[refToId(mRef)];
          return module ? <ObjRef obj={module} /> : null;
        })
      }
    </div>
  </section>

  <section style="margin-top: 2rem;">
    <h2>Factory Presets</h2>
    <p>
      This generic robot platform is featured in the following factory presets:
    </p>
    <div style="display: flex; gap: 1rem; flex-wrap: wrap; margin-top: 1rem;">
      {
        bot.factory_preset_refs.map((pRef) => {
          const preset = presets[refToId(pRef)];
          return preset ? <ObjRef obj={preset} /> : null;
        })
      }
    </div>
  </section>

  <ObjectPageScripts objectData={bot} jsFileName="robot_page.js" slug={id} />
</ParseObjectPage>
